# block everything
/*

*.save
*.save.*
hypr/log.txt
# nixos/hardware-configuration.nix cant block that bc the flake wont look at files not tracked by git

# except
!.gitignore
!LICENSE

!git/
!hypr/
!kitty/
!nixos/
!waybar/

